legend{
    font-family: Arial, Helvetica, sans-serif;
}
label{
    font-family: 'Arial', sans-serif;
}

form{
    margin: auto;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    box-shadow: 15px 20px 10px;
  
}
fieldset {
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
}
label{
    display: block;
    width: 50px;
}
input {
    margin-bottom: 20px;
    width: 100%;
}

#xx {
    background-color: rgb(2, 93, 230); /* Color de fondo */
    color: white;              /* Color del texto */
    width: 100%;
    border: none;              /* Sin borde */
    padding: 10px 20px;        /* Espaciado interno */
    text-align: center;        /* Alineación del texto */
    text-decoration: none;     /* Sin subrayado */
    font-size: 16px;           /* Tamaño del texto */
    border-radius: 5px;        /* Bordes redondeados */
    cursor: pointer;           /* Cambia el cursor al pasar por encima */
}
